:root {
    --black: #311F09;
    --orange: #FF8A00;
    --green: #3FA72F;
    --white-orange: #FFE6C9;
}

body, html {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1237px;
    margin: 0px auto;
}


/* HEADER */


header {
    margin-top: 51px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content__last {
    align-items: center;
    display: flex;
}

.header-content__last img {
    margin-right: 25px;
}

.header-content__last a:last-of-type {
    background-color: var(--green);
    text-decoration: none;
    color: #fff;
    padding: 15px 34px;
    border-radius: 133px;

    transition: background-color .4s ease;
}

.header-content__last a:last-of-type:hover {
    background-color: var(--orange);
}

nav a {
    text-decoration: none;
    margin-right: 45px;
    color: var(--black);
    display: inline-block;

    transition: all .4s ease;
}

nav a:hover {
    color: var(--green);
    transform: scale(1.05);
}

nav a:last-of-type {
    margin-right: 0;
}

nav a.checked {
    color: var(--orange);
}


/* MAIN */


main {
    margin-top: 166px;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.main-content_about {
    color: var(--orange);
    background-color: var(--white-orange);
    padding: 10px 34px;
    border-radius: 126px;
    display: inline-block;

    margin-bottom: 22px;
}

.main-content h1 {
    color: var(--black);
    font-size: 80px;
    font-family: "Raleway", sans-serif;
    line-height: 110%;
    font-weight: 700;

    margin-bottom: 30px;
}

.main-content p {
    line-height: 200%;
    margin-bottom: 77px;
    color: var(--black);
}

.main-content__buttons a:first-of-type {
    padding: 17px 62px;
    background-color: var(--orange);
    border-radius: 162px;
    color: #fff;
    text-decoration: none;
    margin-right: 23px;
    display: inline-block;

    transition: transform .4s ease;
}

.main-content__buttons a:last-of-type {
    padding: 17px 55px;
    background-color: var(--green);
    border-radius: 162px;
    color: #fff;
    text-decoration: none;
    margin-right: 23px;

    transition: transform .4s ease;
    display: inline-block;
}

.main-content__buttons a:hover {
    transform: scale(1.05);
}

.main-content__buttons a:hover {
    transform: scale(1.05);
}


/* WELCOME */


.welcome {
    background-color: rgba(63, 198, 110, 0.1);
    padding-top: 147px;
    padding-bottom: 132px;
}

.welcome-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-inner h2 {
    font-family: "Tinos", serif;
    font-weight: 700;
    line-height: 110%;
    font-size: 80px;
    margin-bottom: 60px;

    color: var(--black);
}

.welcome-inner h2 span {
    color: var(--orange);
} 

.welcome-inner p {
    color: #5C4529;
    line-height: 200%;
    margin-bottom: 122px;
}

.welcome-inner a {
    background-color: var(--orange);
    color: #fff;
    padding: 17px 45px;
    border-radius: 162px;
    text-decoration: none;
    display: inline-block;

    transition: transform .3s ease;
}

.welcome-inner a:hover {
    transform: scale(1.1);
}


/* MENU */


.menu {
    padding-top: 164px;
    padding-bottom: 201px;
}

.menu h2 {
    font-family: "Tinos", serif;
    text-align: center;
    font-weight: 700;
    font-size: 80px;
    line-height: 200%;
    color: var(--black);
    margin-bottom: 60px;
}

.menu-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 60px;
}

.menu-buttons a {
    background-color: rgba(208,204,199, 0.1);
    color: var(--black);
    font-size: 20px;
    text-decoration: none;
    padding: 17px 64px;
    border-radius: 162px;

    transition: background-color .3s ease;
}

.menu-buttons a:hover {
    background-color: var(--orange);
}

.menu-buttons .checked {
    background-color: var(--black);
    color: #fff;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 88px;
}

.menu-item {
    width: 32%;
    background-color: rgba(208,204,199, 0.1);
    border-radius: 70px;
    text-align: center;
    padding: 35px 29px;
    margin-bottom: 40px;
}

.menu-item h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 200%;
    margin-bottom: 5px;
}

.menu-item__raiting {
    margin-bottom: 15px;
}

.menu-item__raiting img {
    margin-right: 10px;
}

.menu-item__raiting img:last-of-type {
    margin-right: 0px;
}

.menu-item p {
    font-size: 14px;
    line-height: 200%;
    color: #59442B;
    margin-bottom: 30px;
}

.menu-item__last {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item__last-price {
    font-weight: 600;
    font-size: 25px;
}

.menu-item__last a {
    background-color: var(--orange);
    color: #fff;
    text-decoration: none;
    padding: 11px 36px;
    border-radius: 162px;
    font-size: 16px;

    transition: background-color .3s ease;
}

.menu-item__last a:hover {
    background-color: var(--green);
}


/* RESERVE */


.reserve {
    padding-top: 113px;
    padding-bottom: 39px;
    background-color: rgba(255, 244, 231, 0.4);
}

.reserve .container {
    max-width: 1466px;
    margin-right: 120px;
}

.reserve-left {
    margin-left: -162px;
}

.reserve-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reserve-right {
    margin-left: 103px;
}

.reserve-right h2 {
    font-family: "Tinos", serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 50px;
    color: #000; 
}

.reserve-right h2 span {
    color: var(--orange); 
}

.reserve-right p {
    font-size: 20px;
    line-height: 220%;
    color: #5C4529;
    margin-bottom: 132px;
}

.reserve-right a {
    display: inline-block;
    padding: 17px 55px;
    border-radius: 162px;
    background-color:var(--orange);
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.reserve-right a:hover {
    transform: scale(1.1);
}


/* CHEFS */


.chefs {
    padding-top: 175px;
    padding-bottom: 271px;
    text-align: center;
}

.chefs h2 {
    font-family: "Tinos", serif;
    font-size: 80px;
    line-height: 200%;
    font-weight: 700;

    margin-bottom: 135px;
    text-align: center;
}

.chefs-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.chef-item {
    text-align: center;
}

.chef-item h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    color: var(--black);
}

.chef-item p {
    color: #A08D76;
    line-height: 200%;
}

.chefs-all {
    background-color: var(--orange);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    padding: 17px 78px;
    transition: background-color .4s ease;

    border-radius: 162px;
}

.chefs-all:hover {
    background-color: var(--green);
}


/* CLIENTS */


.clients {
    background-color: rgba(208, 204, 199, 0.1);
    padding: 71px 0px 99px 0px;
}

.clients-inner {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    text-align: center;
}

.clients-title {
    font-family: "Tinos", serif;
    font-size: 80px;
    line-height: 200%;
    font-weight: 700;
    margin-bottom: 57px;

    color: var(--black);
}

.clients-about-img {
    margin-bottom: 41px;
}

.clients-about-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 200%;

    color: var(--black);
}

.clients-about-text {
    color: #5C4529;
    font-size: 20px;
    line-height: 200%;
    margin-bottom: 65px;
}

.clients-about-inner {
    position: relative;
    width: 524px;
    margin-right: auto;
    margin-left: auto;
}

.clients-about-inner p {
    color: #5C4529;
    font-size: 20px;
    line-height: 200%;
}

#dot1 {
    position: absolute;
    top: -45px;
    left: -44px;
    transform: rotate(180deg);
}

#dot2 {
    position: absolute;
    bottom: -45px;
    right: -44px;
}


/* SCHEDULE */


.schedule {
    position: relative;
    width: 1150px;
    height: 588px;
    margin: 238px auto;
    padding: 0 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.schedule-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(95%);
    z-index: 1;
}

.schedule-container {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.schedule-title {
    font-family: "Tinos", serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 20px;
}

.schedule-subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 30px;
}

.schedule-info {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 5px;
    width: 100%; 
    text-align: center; 
}

.schedule-info:last-of-type {
    text-align: right;
    margin: 0;
    width: 100%;
    padding-right: 250px;
}

.schedule-buttons {
    display: flex;
    justify-content: center;
    gap: 23px;
    margin-top: 50px;
}

.button {
    display: inline-block;
    padding: 17px 55px;
    border-radius: 162px;
    background-color:var(--orange);
    color: #fff;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.order-button {
    background-color: var(--orange);
}

.order-button:hover {
    transform: scale(1.05);
}

.reservation-button {
    background-color: #fff;
    color: var(--black) !important;
}

.reservation-button:hover {
    transform: scale(1.05);
}


/* FOOTER */


.footer {
    background-color: #311F09;
    color: #fff;
    width: 100%; /* Ширина на весь екран */
    height: 691px;
    padding: 0 80px; /* Відступи зліва та справа */
    box-sizing: border-box; /* Увімкнути відступи у ширину */
    font-family: 'Poppins', sans-serif; /* Встановлюємо шрифт Poppins */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 66px; /* Відстань між колонками */
    max-width: 1280px; /* Максимальна ширина для центрування */
    margin: 0 auto; /* Центрування контейнера */
}

.footer-left {
    flex: 1; /* Автоматичне вирівнювання ширини */
    max-width: 352px; /* Обмеження ширини колонки */
    text-align: left;
    padding-top: 149px;
}

.footer-left .brand-logo {
    display: flex;
    align-items: left;
    margin-bottom: 45px;
}

.footer-left .brand-description {
    width: 352px;
    height: 120px;
    overflow: hidden;
    margin-top: 20px;
    text-align: left;
    line-height: 1.5;
}

.footer-left .social-icons {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.footer-links,
.footer-contact {
    flex: 1;
    text-align: left;
    padding-top: 149px;
}

.footer-contact {
    width: 280px; /* Ширина контактної колонки */
    height: 247px; /* Висота контактної колонки */
    margin-bottom: 15px; /* Відстань знизу */
}

.footer-contact address {
    width: 280px; /* Ширина тексту адреси */
    height: 62px; /* Висота тексту адреси */
    line-height: 1.5; /* Відстань між рядками */
    font-style: normal; /* Відключення курсива */
}

.footer-contact address a {
    display: block;
    margin-bottom: 15px; /* Відстань між елементами */
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-contact a {
    margin-bottom: 15px; /* Відстань між елементами */
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-contact a:hover {
    color: var(--green); /* Кольорова зміна при наведенні */
}

.footer-links h4,
.footer-contact h4 {
    color: var(--orange); /* Колір змінної --orange */
    margin-bottom: 25px; /* Відстань знизу до початку списку */
    font-size: 25px;
    font-family: 'Poppins', sans-serif; /* Шрифт для заголовка */
}

.footer-links ul,
.footer-contact ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.footer-links ul li,
.footer-contact ul li {
    margin-bottom: 15px; /* Відстань між елементами */
}

.footer-links ul li a,
.footer-contact a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover,
.footer-contact a:hover {
    color: var(--green);
}

.footer-bottom {
    background-color: #311F09;
    padding: 93px 0;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    font-size: 20px;
}

