:root {
    --black: #311F09;
    --orange: #FF8A00;
    --green: #3FA72F;
    --white-orange: #FFE6C9;
}

body, html {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1237px;
    margin: 0px auto;
}


/* HEADER */


header {
    margin-top: 51px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content__last {
    align-items: center;
    display: flex;
}

.header-content__last img {
    margin-right: 25px;
}

.header-content__last a:last-of-type {
    background-color: var(--green);
    text-decoration: none;
    color: #fff;
    padding: 15px 34px;
    border-radius: 133px;

    transition: background-color .4s ease;
}

.header-content__last a:last-of-type:hover {
    background-color: var(--orange);
}

nav a {
    text-decoration: none;
    margin-right: 45px;
    color: var(--black);
    display: inline-block;

    transition: all .4s ease;
}

nav a:hover {
    color: var(--green);
    transform: scale(1.05);
}

nav a:last-of-type {
    margin-right: 0;
}

nav a.checked {
    color: var(--orange);
}


/* MAIN */


main {
    margin-top: 166px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.main-content_about {
    color: var(--orange);
    background-color: var(--white-orange);
    padding: 10px 34px;
    border-radius: 126px;
    display: inline-block;

    margin-bottom: 22px;
}

.main-content h1 {
    color: var(--black);
    font-size: 80px;
    font-family: "Raleway", sans-serif;
    line-height: 110%;
    font-weight: 700;

    margin-bottom: 30px;
}

.main-content p {
    line-height: 200%;
    margin-bottom: 77px;
    color: var(--black);
}

.main-content__buttons a:first-of-type {
    padding: 17px 62px;
    background-color: var(--orange);
    border-radius: 162px;
    color: #fff;
    text-decoration: none;
    margin-right: 23px;
    display: inline-block;

    transition: transform .4s ease;
}

.main-content__buttons a:last-of-type {
    padding: 17px 55px;
    background-color: var(--green);
    border-radius: 162px;
    color: #fff;
    text-decoration: none;
    margin-right: 23px;

    transition: transform .4s ease;
    display: inline-block;
}

.main-content__buttons a:hover {
    transform: scale(1.05);
}

.main-content__buttons a:hover {
    transform: scale(1.05);
}


/* WELCOME */


.welcome {
    background-color: rgba(63, 198, 110, 0.1);
    padding-top: 147px;
    padding-bottom: 132px;
}

.welcome-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-inner h2 {
    font-family: "Tinos", serif;
    font-weight: 700;
    line-height: 110%;
    font-size: 80px;
    margin-bottom: 60px;

    color: var(--black);
}

.welcome-inner h2 span {
    color: var(--orange);
} 

.welcome-inner p {
    color: #5C4529;
    line-height: 200%;
    margin-bottom: 122px;
}

.welcome-inner a {
    background-color: var(--orange);
    color: #fff;
    padding: 17px 45px;
    border-radius: 162px;
    text-decoration: none;
    display: inline-block;

    transition: transform .3s ease;
}

.welcome-inner a:hover {
    transform: scale(1.1);
}



/* MENU */

.menu {
    padding-top: 164px;
    padding-bottom: 201px;
}

.menu h2 {
    font-family: "Tinos", serif;
    text-align: center;
    font-weight: 700;
    font-size: 80px;
    line-height: 200%;
    color: var(--black);
    margin-bottom: 60px;
}

.menu-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 60px;
}

.menu-buttons a {
    background-color: rgba(208,204,199, 0.1);
    color: var(--black);
    font-size: 20px;
    text-decoration: none;
    padding: 17px 64px;
    border-radius: 162px;

    transition: background-color .3s ease;
}

.menu-buttons a:hover {
    background-color: var(--orange);
}

.menu-buttons .checked {
    background-color: var(--black);
    color: #fff;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 88px;
}

.menu-item {
    width: 32%;
    background-color: rgba(208,204,199, 0.1);
    border-radius: 70px;
    text-align: center;
    padding: 35px 29px;
    margin-bottom: 40px;
}

.menu-item h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 200%;
    margin-bottom: 5px;
}

.menu-item__raiting {
    margin-bottom: 15px;
}

.menu-item__raiting img {
    margin-right: 10px;
}

.menu-item__raiting img:last-of-type {
    margin-right: 0px;
}

.menu-item p {
    font-size: 14px;
    line-height: 200%;
    color: #59442B;
    margin-bottom: 30px;
}

.menu-item__last {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item__last-price {
    font-weight: 600;
    font-size: 25px;
}

.menu-item__last a {
    background-color: var(--orange);
    color: #fff;
    text-decoration: none;
    padding: 11px 36px;
    border-radius: 162px;
    font-size: 16px;

    transition: background-color .3s ease;
}

.menu-item__last a:hover {
    background-color: var(--green);
}


